{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
   <link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
    <div >
       <a href="{{ path('app_matiere_ajout') }}" class="text-white bg-green-700 focus:outline-none  font-medium rounded-full text-sm px-5 py-2.5 text-center   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-4"> Ajout matiere </a>
    </div> 
<div class="flex items-center justify-center min-h-screen bg-gray-900">
	<div class="col-span-16">
		<div class="overflow-auto lg:overflow-visible ">
			<table class="table text-gray-400 border-separate space-y-6 text-sm">
				<thead class="bg-gray-800 text-gray-500">
					<tr>
						<th class="p-2 m-4">Matiere</th>
						
						<th class="p-2 text-left">Action</th>
					</tr>
				</thead>
				<tbody>
                    {% for matiere in matieres %}
                        <tr class="bg-gray-800">
                            <td class="p-2">
                                <div class="flex align-items-center">
                                    <div class="ml-2">
                                        <div class="text-gray-500"> {{ matiere.name}} </div>
                                       
                                    </div>
                                </div>
                            </td>
                           
                            <td class="p-6 ">
                                <a href="{{ path('app_matiere_detail', {'id':  matiere.id})}}" class="text-gray-400 hover:text-gray-100 mr-2">
                                    <i class="material-icons-outlined text-base">visibility</i>
                                </a>
                                <a href="{{ path('app_matiere_edit', {'id': matiere.id})}}" class="text-gray-400 hover:text-gray-100  mx-2">
                                    <i class="material-icons-outlined text-base">edit</i>
                                </a>
                                <a href="{{ path('app_matiere_delete', {'id': matiere.id}) }}" class="text-gray-400 hover:text-gray-100  ml-2">
                                    <i class="material-icons-round text-base">delete_outline</i>
                                </a>
                            </td>
                        </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
 
{% endblock %}