{% extends 'base.html.twig' %}

{% block title %}Enseignants{% endblock %}

{% block body %}
    <h1>Enseignants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ enseignant.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ enseignant.lastname }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ enseignant.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_enseig_crud_index') }}">back to list</a>

    <a href="{{ path('app_enseig_crud_edit', {'id': enseignant.id}) }}">edit</a>

    {{ include('enseig_crud/_delete_form.html.twig') }}
{% endblock %}
