{% extends 'base.html.twig' %}

{% block title %}Enseignants index{% endblock %}

{% block body %}
    <link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
    <div >
       <a href="{{ path('app_enseignant_ajout') }}" class="text-white bg-green-700 focus:outline-none  font-medium rounded-full text-sm px-5 py-2.5 text-center   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-4"> Ajout enseignant </a>
    </div> 
<div class="flex items-center justify-center min-h-screen bg-gray-900">
	   
    <div class="col-span-16 h-96">
		<div class="w-full overflow-x-auto">
			<table class="table text-gray-400 border-separate space-y-6 text-sm ">
				<thead class="bg-gray-800 text-gray-500">
					<tr>
						<th class="p-3 text-left">Nom et Prénom</th>
						<th class="p-3 text-left">Matiere</th>
						<th class="p-3 text-left ">Niveau</th>
						<th class="p-3 text-left ">Classe</th>
                        <th class="p-3 text-left ">Année Scolaire</th>
						<th class="p-3 text-left">Action</th>
					</tr>
				</thead>
				<tbody>
                    {% for enseignant in enseignants %}
                        <tr class="bg-gray-800">
                            <td class="p-4">
                                <div class="flex align-items-center">
                                    <img class="rounded-full h-10 w-10  object-cover" src="{{asset('/uploads/images/')}}{{enseignant.image}}" alt="unsplash image">
                                    <div class="ml-2">
                                        <div class=""> {{ enseignant.lastname}} </div>
                                        <div class="text-gray-500">{{ enseignant.firstname}}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="p-3">
                               {% for matiereField in enseignant.matiere %} 
                                    {{ matiereField}}
                                {% endfor %}   
                            </td>
                            <td class="p-3 font-bold">
                               {% for niveauField in enseignant.niveau %} 
                                    {{ niveauField}}
                                {% endfor %} 
                            </td>
                            <td class="p-3">
                                <span class="bg-green-400 text-gray-50 rounded-md px-2">
                                    {% for classeField in enseignant.classe %} 
                                        {{ classeField}}
                                    {% endfor %} 
                                </span>
                            </td>
                             <td class="p-3">
                                <span class="bg-green-400 text-gray-50 rounded-md px-2">
                                    {% for anneescolaireField in enseignant.anneescolaire %} 
                                        {{ anneescolaireField}}
                                    {% endfor %} 
                                </span>
                            </td>
                            <td class="p-3 ">
                                <a href="{{ path('app_enseignant_detail',{'id': enseignant.id})}}" class="text-gray-400 hover:text-gray-100 mr-2">
                                    <i class="material-icons-outlined text-base">visibility</i>
                                </a>
                                <a href="{{ path('app_enseignant_edit', {'id': enseignant.id})}}" class="text-gray-400 hover:text-gray-100  mx-2">
                                    <i class="material-icons-outlined text-base">edit</i>
                                </a>
                                <a href="{{ path('app_enseignant_delete', {'id': enseignant.id})}}" class="text-gray-400 hover:text-gray-100  ml-2">
                                    <i class="material-icons-round text-base">delete_outline</i>
                                </a>
                            </td>
                        </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

    
{% endblock %}
